language: java

addons:
  firefox: "latest"

stages:
  - compile
  - package
  - deploy

env:
  global:
    - MOZ_HEADLESS: 1
    - secure: "u6VXZ+NlvGpEyWD3u0Z7I4TbApRP1j86oGR08cSve4bhpCrOtthxlYPGPjLKXOBkqmM4oPmdZesaNMgv7yltahHDKz0LKcKIdj/HcZuJ6+wZvsm0sLmFyoF0nZMgk1zwv9KWGyHkB2oJGG01ptwDG3XwrXKYe8vmMJUTMod01k9u308Vgu2IfYF55SugTXZiHZ0bGFk+RiHXabmCcmhDpyl9kqvXhc2DkvPRRbQCdDQmT4VmroqOWDL/Sia5iP3rWunXNXU8RmC50VE+K8fLXPU5Pb8zfuinP2f1m76jNircHzNKHyuVS6oFDgrxWMJcQwhvK9z24z0b3R2RIB1WU5TfwWaFj+cRt8jl/feGarPbMNn3BjY41gyur3O77PKrRnw50g54OE+rl6laJGP+01N/GIa9cLuKJqL32rwFmiUo/1dFaJxvV19mAnUX4kdbqmuCLfiOLd/3w6aZUT5juK84JrSKyRwmmsPwTPTxO7yO0SCKI0ToPNndj8c2K1Tk/cfToE3FOK0CbEWAprN0O9RWwX17FdN0fnm1bDOs4TFGFYForPmTraz41ChNqFL7S5M3OFyoBMVit6+iuXSswuwneyqiPdOS2jKcV2aPG9tfs6rCMxt56PKW1r+5lhnub+iFO/thX+da+DuowRMQHqVlaU6OLOS8YgA2B8ntzJI="
    - secure: "bVg9j9dlCGs2XdqE0cNVxDSk99H6Cth28mI0lx76dyTGzRwnWKTLSnUbrJK8J01EOEfpKjvmjYUMvt+b21ZliVieOkaFST7RZp3Qe8w4BYQZH4wqf61IQ0WKa5CD4T9We9Z27SbJKMpj0AY9G8I7zMtMSikZ6r6eFcFd2WhMCPYDkdMSYD/MeFih4BdprxlsqZl7DvKHYTGVL6zgT/1/l28x5WjolUnPuZoVGxYD6IUonJwAbw/JPiJp9xSUkeT81nFrM1ytRg/c2ZlNuthyZb17LPLThEuPYrjRfz5x4nxaXCF3sIaEKtIyYksCSRGbCrXRZgvas3lJRJ2G3W2vmyL8m0t3ZtDE+TtyIuEj4zV3yY5QcTPpNI/tBk7UZ8O4zkCZaYHlDMjl0W6ZRpyqPOTthG3enn3ruNu2MIMoYPSPVWT37prUC1FDl++CwgIxjyQq/S2Yb/hbzu1Hhtc/c1hJJ0ugrjsoGgEimFATZ2Gd8NZQiUWLFrZRoUHHwa6qKzKlTEcmyXHvk6a54KKx6Mr1HH3zpLM/RDMttRMe/e596r1RnCY57JqNFYCjsSUhisaLh71kC215BPiqdNvlR/jIOj9nw9vFf85/ygPewk4OGfYbMxl0QP8gMmBNpAnZ9rkq1GL0tPmdAbCtL7pzq4zNNnVl8fTCgYpAs5akP4o="
    - secure: "XFmGTJaVaoJpshILuKAN3Dd9opoAdDzFYBjXtON0kQ0e5nNqJaz8iN6yd1A00qeaYqE55cZLLG5rhM+aK5fZScIi8F2WLyAUmkmdE0CkOLoz8KByTA4jhNhmPHAcH7njeg9IJsrn0B0Z7z5rSTGSRyYFrgqroOa0rQXPzJk7G/g4OQWSZgoldNjy9xpf22EBK9pxMERy2MSGpOLigESXMjNPSMYdFeuUQKJABPa5SziVG6mRmfIISdQzB0o+rnfx3+c/Ad/zpCtnSxf2DKgTtScp66Y/v77sxjsnxbb4FGC0Ch2inf0oYECuvduZl/8ewHzzbLRsdL/G+XgeFni6siTf0Vot5dlgUUFA+wmcj/5F90hCJrGsHpVmhM1SowI2JN7+PuwRsGwfMi/IxlmoeKBRnqKZqcVz4UbA5WSQZ23+LKXTFwhgCYlW6BRN+rdCwH2IYuJk0dO1WvEzJ1MSi95sG7mPQQfM30DMbJs2DjDv0SpiXmjmgMyFTtWNMhwQKGNGuhGeEytI18tRJIXnkdAbO9mBPgurquBAJ4BXiw2w0gwl2e+UXGi31MrCGEC+5Ncf4ysbGJu1khtmpa/zQLCzemYD7VwJcTonnQYQJoJAROPTlzhug33jRAgV2oWEgyqh63jG8sSWU+yH3Jqp1PtdBP0znDLpPxWIRXDmeU8="

install: true

jobs:
  include:
    - stage: compile
      install: true
      script: mvn compile test-compile
    - stage: package
      install: true
      script:
        - wget https://github.com/mozilla/geckodriver/releases/download/v0.23.0/geckodriver-v0.23.0-linux64.tar.gz
        - mkdir geckodriver
        - tar -xzf geckodriver-v0.23.0-linux64.tar.gz -C geckodriver
        - export PATH=$PATH:$PWD/geckodriver
        - mvn package
    - stage: deploy
      install: true
      script:
        - docker login -u $DOCKER_USER -p $DOCKER_PASS
        - if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" == "master" ]; then ./scripts/docker-build.sh; else echo "Not on master"; fi
        - if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" == "master" ]; then ./scripts/docker-publish.sh; else echo "Not on master"; fi

