[Unit]
Description=freeacs-spp
After=syslog.target

[Service]
User=freeacs
WorkingDirectory=/var/freeacs/spp
ExecStart=/var/freeacs/ws/freeacs-spp.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target