<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>xapsweb</display-name>
	
	<welcome-file-list>
		<welcome-file>web</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>main</servlet-name>
		<servlet-class>com.owera.xaps.web.app.Main</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/web</url-pattern>
	</servlet-mapping>
	
	<!-- This enables Spring to load the configuration stored in app.xml -->
	<servlet>
		<servlet-name>app</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/app.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>app</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Monitor Servlet</servlet-name>
		<servlet-class>com.owera.xaps.web.app.Monitor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Monitor Servlet</servlet-name>
		<url-pattern>/monitor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Monitor</servlet-name>
		<servlet-class>com.owera.xaps.web.app.Monitor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Monitor</servlet-name>
		<url-pattern>/ok</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>Security Filter</filter-name>
		<filter-class>com.owera.xaps.web.app.security.LoginServlet</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Security Filter</filter-name>
		<servlet-name>main</servlet-name>
	</filter-mapping>

	<servlet>
		<servlet-name>Login Servlet</servlet-name>
		<servlet-class>com.owera.xaps.web.app.security.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login Servlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Help</description>
		<display-name>HelpServlet</display-name>
		<servlet-name>HelpServlet</servlet-name>
		<servlet-class>com.owera.xaps.web.help.HelpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelpServlet</servlet-name>
		<url-pattern>/help</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>Menu</description>
		<display-name>Menu</display-name>
		<servlet-name>Menu</servlet-name>
		<servlet-class>com.owera.xaps.web.app.menu.MenuServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Menu</servlet-name>
		<url-pattern>/menu</url-pattern>
	</servlet-mapping>
</web-app>