[Unit]
Description=freeacs-core
After=syslog.target

[Service]
User=freeacs
WorkingDirectory=/var/freeacs/core
ExecStart=/var/freeacs/core/freeacs-core.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target