[Unit]
Description=freeacs-monitor
After=syslog.target

[Service]
User=freeacs
WorkingDirectory=/var/freeacs/monitor
ExecStart=/var/freeacs/monitor/freeacs-monitor.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target